.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .input-field {
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  .calcbutton {
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .clear,
  .equal {
    grid-column: span 2;
  }
  
  .clear {
    background-color: #0054A6;
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
  }
  
  .equal {
    background-color: #387ec4;
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
  }
  