.color-game {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h1 {
  font-size: 28px;
  text-align: center;
 
  
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #c62828;
}

.goback{
  color: blanchedalmond;
  background-color: #0054A6;
  padding: 6px 10px;
  border: 2px solid #0054A6;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
  
 

}