.contactcon {
  padding: 20px;
  background: #141414;
}

.contitle {
  text-align: center;
  font-weight: 500;
  color: #5429cf;
  padding-top: 30px;
}

.frm {
}

.lab {
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  color: #fff;
}

.txtarea {
  padding: 12px;
  border-radius: 4px;
  border: #141414;
  box-sizing: border-box;

  resize: vertical;
  display: flex;
  background: #1c1c1f;
  color: #fff;
}

.in {
  display: flex;
  padding: 12px;
  border: 1px solid #141414;
  border-radius: 4px;
  box-sizing: border-box;

  background: #1c1c1f;
}
.insub {
  background-color: #5429cf;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
}
.insub:hover {
  background-color: #5429cf;
}
