/* -----------CARD COMPONENT----------- */
@media screen and (min-width: 601px) {
  
  
  .crd {
    background-color: #ffffff;
    border: solid;
    border-color: #121214;
    margin: 10px 10px 10px 10px;
    min-height: 220px;
    min-width: 320px;
    border-radius: 6px;
    border-width: 4px;
   
    transition: 0.2s;
  }

  .where{
    text-decoration: none;
    color: #fff;
  }

  .crd:hover {
    border-bottom-color: #0054A6;
    transition-delay: 0.1s;
  }

  .probtnn {
    background-color: #0054A6;
    color: #fffcfc;
    border: none;
    font-size: 14px;
    text-align: center;
    padding: 4px 12px 4px 12px;
    margin: 4px 20px 22px 0;
    transition: ease-in-out 0.3s;
  }
  .probtnn:hover {
    background-color: #1d6ab7;
    transition-delay: 0.1s;
    color: #fffcfc;
  }

  .probtnncontainer {
    text-align: left;
    position: absolute;
    bottom: 0;
  }

  /* -------change the side spaces <---[CARDS]----> */
  .project {
    padding: 10px;
  }
  .crd_body {
    color: #000000;
    
  }

  .project_title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
  }

  .project_text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
  }
  .project_tool {
    background-color: #1c1c1f;
    display: inline-block;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    font-size: 12px;
    margin: 10px 4px 10px 0;
  }
}

/* -----------CARD COMPONENT----------- */
@media screen and (max-width: 600px) {
  .crd {
    background-color: #ffffff;
    border: solid;
    border-color: #121212;
    margin: 10px 10px 10px 10px;
    min-height: 220px;
    min-width: 320px;
    border-radius: 6px;
    border-width: 4px;
    margin: 16px 2px 16px 2px;
    transition: 0.2s;
  }
  .where{
    text-decoration: none;
    color: #fff;
  }

  .crdcontainer{
  margin: 0;
  }

  .crd:hover {
    border-bottom-color: #0054A6;
    transition-delay: 0.1s;
  }

  .probtnn {
    background-color: #0054A6;
    color: #fffcfc;
    border: none;
    font-size: 14px;
    text-align: center;
    padding: 4px 12px 4px 12px;
    margin: 4px 20px 22px 0;
    transition: ease-in-out 0.3s;
  }
  .probtnn:hover {
    background-color: #1d6ab7;
    transition-delay: 0.1s;
    color: #fffcfc;
  }

  .probtnncontainer {
    text-align: left;
    position: absolute;
    bottom: 0;
  }

  /* -------change the side spaces <---[CARDS]----> */

  .projects {
    padding: 0;
  }
  .crd_body {
    color: #000000;
  }

  .project_title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
  }

  .project_text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
  }
  .project_tool {
    background-color: #1c1c1f;
    display: inline-block;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    font-size: 12px;
    margin: 10px 4px 10px 0;
  }
}

.categories{
  display: flex;
  justify-content:left;
 margin: 0 0 0 30px;

  
}

.web2{
  color:#fafafa;
  font-weight: 500;
  padding: 0 20px 0 0 ;
  border-bottom: 2px solid transparent;

}
.web2:hover{
 border-bottom: 2px solid #fafafa;

}
.web3{
  color:#fafafa;
  font-weight: 500;
  padding: 0 20px 0 0 ;
  border-bottom: 2px solid transparent;
}
.web3:hover{
  
  border-bottom: 2px solid #fafafa;
 
 }