/* -------SECTION 4------- */
@media screen and (min-width: 601px) {
  .sctn_four {
    background: #1c1c1f;
    min-height: 100vh;
    padding-bottom: 100px;
  }

  .sctn_four_small {
    display: none;
  }

  .colpro{
    padding:0;
    margin: 0 30px;
  }

  .rowpro{
    margin-left: auto;
    margin-right: auto;
  }


  .projectcontainer {
    padding-top: 80px;
    text-align: center;
  }

  .project1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #0054A6;
    background-image: linear-gradient(135deg, #0054A6 6%, #0054A6 32%);
  }
  .project2 {
    color: #fffcfc;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
  }

  .repo {
    text-align: center;
    margin-top: 20px;
    color: #0054A6;
    font-size: 18px;
    font-weight: 500;
   
    text-decoration: none;
   
  }
  .repo:hover {
    color: #0054A6;
    text-decoration: underline;
  }

  .tabss{
    margin: 0 5rem ;
    border: none;
    padding: 1.25rem;
   
   
  }
  .tabone{
    min-height: 80vh;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(255, 255, 255);
    background-color: #1c1c1f;
    border-color: #0054A6;
}

.nav-tabs .nav-link:hover{
    color: white;
    border-color: #0054A6;
}
 
}

/* ------Small Screens------- */
@media screen and (max-width: 600px) {
  .sctn_four {
    display: none;
  }
  .certsecsmall {
    background: #141414;
    min-height: 100vh;
    padding-bottom: 100px;
    
  }
  .colpro{
    padding:0;
  }
  .rowpro{
    margin-left: auto;
    margin-right: auto;
  }
  .certsec{
    display: none;
  }
.project{
  margin: 0;
  padding: 0;
}

  .sctn_four_small {
    background: #1c1c1f;
    min-height: 100vh;
    
    padding-bottom: 30px;
  }

  .projectscontainer {
    padding: 60px 40px 0 40px;
    
    text-align: left;
  }

  .projects1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #0054A6;
    background-image: linear-gradient(135deg, #0054A6 6%, #0054A6 32%);
  }
  .projects2 {
    color: #fffcfc;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
  }

  .repo {
    text-align: center;
    margin-top: 20px;
    color: #0054A6;
    font-size: 18px;
    font-weight: 500;
   
    text-decoration: none;
    
  }
  .repo:hover {
    color: #0054A6;
    text-decoration: underline;
  }

  .tabss{
    margin: 0 1rem ;
    border: none;
    padding: 1.25rem;
   
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(255, 255, 255);
    background-color: #1c1c1f;
    border-bottom: #0054A6;
    
}

.nav-tabs .nav-link:hover{
    color: white;
    border-color: #0054A6;
}
}
