/* --------- FONT STYLES--------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* -------BODY------- */
main {
  min-height: 80vh;
  background-color: #f5f7f8;
}

/* -------SCROLLBAR------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 50px;
}

section {
  min-height: 80vh;
}

/* -------FOOTER------- */
footer {
  min-height: 30vh;
  background-color: #5429cf;
}

/* -------NAVBAR(HEADER)------- */
@media screen and (min-width: 601px) {
  .navbaar {
    padding: 12px 20px 12px 20px;
    background-color: #1c1c1f;
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .navbaar {
    padding: 20px 5px 20px 5px;
  }
}

.logo {
  font-size: 24px;
  letter-spacing: -1px;
  color: #fffcfc;
  padding-left: 140px;
  font-weight: 600;
}

.navlnk {
  color: #fffcfc;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px 0 16px;
}

.navlnk:hover {
  color: #fffcfc;
  font-size: 14px;
  font-weight: 500;
}

/* -------SECTION 1 (S1)------- */
@media screen and (min-width: 601px) {
  .sctn_one {
    text-align: left;
    padding: 60px 40px 60px 40px;
    background-color: #121214;
    min-height: 110vh;
  }

  .introcontainer {
    padding-left: 80px;
    padding-top: 90px;
  }
  .introimage {
    margin-top: -60px;
  }
  .intro1 {
    color: #fffcfc;
    font-size: 18px;
    font-weight: 500;
  }
  .intro2 {
    color: #fffcfc;
    font-size: 18px;
    font-weight: 700;
  }
  .nameintro {
    color: #fffcfc;
    font-weight: 700;
    font-size: 32px;
  }

  .nameintro:hover {
    transition: ease-in-out 0.8s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #6355d5;
    background-image: linear-gradient(
      135deg,
      #6355d5 3%,
      #5429cf 40%,
      #491ad9 70%
    );
  }
  .contactbutton {
    background-color: #5429cf;
    border: solid;
    border-color: #5429cf;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-top: 10px;
    color: #fffcfc;
    transition: ease-in-out 0.4s;
  }
  .contactbutton:hover {
    background-color: #5d39cb;
    border: solid;
    border-color: #5d39cb;
    transition-delay: 0.1s;
    color: #fffcfc;
  }
}

@media screen and (max-width: 600px) {
  .sctn_one {
    text-align: left;
  }
}

/* -------SECTION 2------- */

@media screen and (min-width: 601px) {
  .sctn_two {
    background: #1c1c1f;
    min-height: 90vh;
  }

  .aboutcontainer {
    padding-left: 20px;
    padding-top: 110px;
  }

  .about1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #6357d9;
    background-image: linear-gradient(135deg, #6357d9 6%, #532dcd 32%);
  }

  .about2 {
    color: #fffcfc;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
  }
  .about3 {
    color: #fffcfc;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }

  .githubbutton {
    background-color: #5429cf;
    border: solid;
    border-color: #5429cf;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin-right: 30px;
    text-align: center;
    margin-top: 10px;
    color: #fffcfc;
    transition: ease-in-out 0.3s;
  }
  .resumebutton {
    background-color: #5429cf;
    border: solid;
    border-color: #5429cf;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-top: 10px;
    color: #fffcfc;
    transition: ease-in-out 0.3s;
  }

  .githubbutton:hover {
    background-color: #5d39cb;
    border: solid;
    border-color: #5d39cb;
    transition-delay: 0.1s;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin-right: 30px;
    text-align: center;
    margin-top: 10px;
    color: #fffcfc;
  }
  .resumebutton:hover {
    background-color: #5d39cb;
    border: solid;
    border-color: #5d39cb;
    transition-delay: 0.1s;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-top: 10px;
    color: #fffcfc;
  }
}

/* -------SECTION 3------- */
@media screen and (min-width: 601px) {
  .sctn_three {
    background: #121214;
    min-height: 100vh;
  }
  .skillcontainer {
    padding-top: 120px;
    text-align: left;
  }

  .skill1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #6355d5;
    background-image: linear-gradient(
      135deg,
      #6355d5 3%,
      #5429cf 40%,
      #491ad9 70%
    );
  }

  .skill2 {
    color: #fffcfc;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  .skillrightcol {
    padding-top: 100px;
  }

  .skillcol {
    padding: 10px;
    background-color: #1c1c1f;
    margin: 16px 4px 16px 4px;
    text-align: center;
    border: solid;
    border-bottom-width: 6px;
    border-radius: 6px;
    transition: 0.2s;
    border-color: #1c1c1f;
  }
  .skillcol:hover {
    border-bottom-color: #5429cf;
    transition-delay: 0.02s;
  }

  .skillicon {
    margin: 10px;
  }

  /* CSS TOOLTIPS */

  [aria-label] {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
  }

  [aria-label]::before {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    /* top: -999; */
  }

  [aria-label]:hover::before {
    content: attr(aria-label);
    background-color: #1c1c1f;
    transition-delay: 0.1s;

    border-radius: 4px;
    text-shadow: 0 0 5px #000;
    white-space: nowrap;
    color: #fffcfc;
    font-size: 12px;

    opacity: 1;
    pointer-events: all;
    padding: 6px 12px;
    overflow: hidden;
    top: unset;
  }

  [aria-label]::after {
    content: "";
    position: absolute;
    pointer-events: none;
    opacity: 0;
    position: absolute;
  }

  [aria-label]:hover::after {
    z-index: 100;
    opacity: 1;
    pointer-events: all;
  }

  /* Fixes tooltip bug running out of other buttons*/

  [data-tooltip="right"]:hover {
    position: relative;
    z-index: 1;
  }

  [aria-label]:is([data-tooltip="top"])::before {
    bottom: 100%;
    left: 0%;
    margin-bottom: 16px;
  }

  /* Arrow */

  [aria-label]:is([data-tooltip="top"])::after {
    bottom: 100%;
    left: 10%;
    margin-bottom: 8px;

    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1c1c1f;
  }
}
/* -------SECTION 4------- */
@media screen and (min-width: 601px) {
  .sctn_four {
    background: #1c1c1f;
    min-height: 100vh;
    padding-bottom: 100px;
  }

  .projectcontainer {
    padding-top: 80px;
    text-align: center;
  }

  .project1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-color: #6357d9;
    background-image: linear-gradient(135deg, #6357d9 6%, #532dcd 32%);
  }
  .project2 {
    color: #fffcfc;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
  }

  .repo {
    text-align: center;
    margin-top: 20px;
    color: #5429cf;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  .repo:hover {
    color: #5429cf;
    text-decoration: underline;
  }

  /* -----------CARD COMPONENT----------- */
  .crd {
    background-color: #121214;
    border: solid;
    border-color: #121214;
    margin: 10px 10px 10px 10px;
    min-height: 220px;
    min-width: 320px;
    border-radius: 6px;
    border-width: 4px;
    margin: 16px 2px 16px 2px;
    transition: 0.2s;
  }

  .crd:hover {
    border-bottom-color: #5429cf;
    transition-delay: 0.1s;
  }

  .probtnn {
    background-color: #5429cf;
    color: #fffcfc;
    font-size: 14px;
    text-align: center;
    padding: 4px 12px 4px 12px;
    margin: 4px 20px 22px 0;
    transition: ease-in-out 0.3s;
  }
  .probtnn:hover {
    background-color: #5d39cb;
    transition-delay: 0.1s;
    color: #fffcfc;
  }

  .probtnncontainer {
    text-align: left;
    position: absolute;
    bottom: 0;
  }

  /* -------change the side spaces <---[CARDS]----> */
  .project {
    padding: 10px;
  }
  .crd_body {
    color: #fffcfc;
  }

  .project_title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
  }

  .project_text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
  }
  .project_tool {
    background-color: #1c1c1f;
    display: inline-block;
    border: solid;
    border-color: #1c1c1f;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    font-size: 12px;
    margin: 10px 4px 10px 0;
  }
}

@media screen and (min-width: 601px) {
  .sctn_five {
    background: #121214;
    min-height: 80vh;
  }

  .contactcontainer {
    padding-top: 80px;
    text-align: center;
  }

  .contact1 {
    color: #fffcfc;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .contactform {
  }
}

/* Contact.js */
.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h1 {
  margin-bottom: 30px;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 1px solid rgb(0, 0, 196);
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: rgb(0, 0, 196);
}

/* dummy contact  */

.contacttxt {
  color: rgb(170, 170, 170);
  text-align: center;
  font-size: 18px;
}
