/* --------- FONT STYLES--------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* -------BODY------- */
main {
  min-height: 80vh;
  background-color: #f5f7f8;
}

/* -------SCROLLBAR------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 50px;
}

section {
  min-height: 80vh;
}

/* -------FOOTER------- */
@media screen and (min-width: 601px) {
  .bigfoot {
    min-height: 30vh;
    background-color: #0054A6;
  }
  .smallfoot {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .smallfoot {
    min-height: 20vh;
    background-color: #0054A6;
  }
  .bigfoot {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .sctn_five {
    background: #121214;
    min-height: 80vh;
  }

  .contactcontainer {
    padding-top: 80px;
    text-align: center;
  }

  .contact1 {
    color: #fffcfc;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .conimgwork {
    text-align: center;
  }
}

